.box{
    border:1px solid black;
    padding:10px;
    margin:10px;
    width: 250px;
}

.card{
   border:1px solid black;
    padding:10px;
    margin:10px; 
}

.card img{
    height:100%;
    width:100%;
}

.navbar{
    display:flex;
    padding:10px;
    gap:8px;
}